<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>:: Online Free Logo ::</title>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600' rel='stylesheet' type='text/css'>
<link href="style.css" type="text/css" rel="stylesheet">
</head>

<body style="margin:0; padding:0; font-family: open sans, arial;">
<table cellpadding="0" cellspacing="0" style="width:1000px; background: #f7f7f7; margin:0 auto; padding:0 165px 100px;"><!-- /Wrapper -->
	<!--
  <tr>
		<td style="text-align:center"><p style="font-size: 12px; color:#808080;">Is this email not displaying correctly? <a style="color:#666666; padding:10px 0; text-decoration:none;" href="<%= base %>/img/email/mailer-web.html" title="View it in Browser" target="_blank">View it in your browser.</a></p></td>
	</tr>
  -->
  <tr>
    <td>&nbsp;</td>
  </tr>
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" style="width: 100%; background: #fff; margin: 0 auto; padding:20px 28px; border: 1px solid #dedede;"><!-- /Inner Wrapper -->
				<tr>
					<td>
						<table width="100%" cellpadding="0" cellspacing="0"><!-- /Header -->
							<tr>
								<td style="text-align:left;"><a href="<%= base %>/" target="_blank" title="Online Free Logo"><img src="cid:free_logo@logomaker.com" alt="Online Free Logo"></a></td>
								<td style="text-align:right;">
									<div style="float: right;">
										<a href="https://www.facebook.com/tagbit?ref=tn_tnmn" target="_blank" title="Facebook" style="display: inline-block; width:35px; height: 20px;  background: url(<%= base %>/img/email/sprite_social_icons.png) 0 0 no-repeat;"></a>
										<a href="https://twitter.com/FreeLogoOnline" target="_blank" title="Twitter" style="display: inline-block; width:35px; height: 20px; background: url(<%= base %>/img/email/sprite_social_icons.png) -37px 0 no-repeat;"></a>
										<a href="https://plus.google.com/u/0/+tagbitmake-logo-online/about" target="_blank" title="Google +" style="display: inline-block; width:35px; height: 20px; background: url(<%= base %>/img/email/sprite_social_icons.png) -72px 0 no-repeat;"></a>
										<a href="https://www.linkedin.com/company/online-free-logo?trk=biz-companies-cym" title="LinkedIn" style="display: inline-block; width:35px; height: 20px; background: url(<%= base %>/img/email/sprite_social_icons.png) -107px 0 no-repeat;"></a>
									</div>
								</td>
							</tr>
						</table><!-- /.Header -->
					</td>
				</tr>
				<tr>
					<td>
						<table width="100%" cellpadding="0" cellspacing="0" style="margin-top:20px;"><!-- /Menu -->
							<tr>
								<td style="background: #2ac1c0;">
									<ul style="padding:0;">
										<li style="display: inline-block;">
											<a style="font-size: 16px; color:#ffffff; text-decoration:none; padding:0 20px;" href="https://www.tagbit.co/my-designs" title="Your Designs">Your Designs</a>
											<a style="font-size: 16px; color:#ffffff; text-decoration:none; padding:0 20px;" href="https://www.tagbit.co/my-designs" title="Saved Logos">View saved logos</a>
											<a style="font-size: 16px; color:#ffffff; text-decoration:none; padding:0 20px;" href="https://www.tagbit.co/design-business-card-online" title="Busness cards">Business Card</a>
											<a style="font-size: 16px; color:#ffffff; text-decoration:none; padding:0 20px;" href="https://www.tagbit.co/logo-design-online" title="Logo Maker">Logo Maker</a>
										</li>
									</ul>
								</td>
							</tr>
						</table><!-- /.Menu -->
					</td>
				</tr>