<% include myHeader.ejs %>
<script>
    var flatDiscountPercentageLogo = <%= config.FLAT_DISCOUNT_LOGO %>;
    var flatDiscountPercentageCard = <%= config.FLAT_DISCOUNT_CARD %>;
    var flatDiscountPercentageOther = <%= config.FLAT_DISCOUNT_OTHER %>;
    var stripePublicKey = "<%= config.stripeCheckoutConfig.publicKey %>";
</script>
<script type="text/javascript">
    var queryString = new Array();
    $(function () {
        if (queryString.length == 0) {
            if (window.location.search.split('?').length > 1) {
                var params = window.location.search.split('?')[1].split('&');
                for (var i = 0; i < params.length; i++) {
                    var key = params[i].split('=')[0];
                    var value = params[i].split('=')[1];
                    queryString[key] = value;
                }
            }
        }
        if (queryString["transaction_success"] != null) {
            var data = "<u>Values from QueryString</u><br /><br />";
            data += queryString["transaction_success"];
            var tab_prev = document.getElementById("w1-payment");
            tab_prev.classList.remove("active");
            var tab_prev = document.getElementById("w1-preview");
            tab_prev.classList.remove("active");
            var tab_success = document.getElementById("w1-confirm");
            tab_success.classList.add("active");
        }

        var validateCoupanBtn = document.getElementById("validatecoupan");
        validateCoupanBtn.onclick = function(e){
          var coupan = $("#coupon_field").val();
          if(coupan.trim() == ""){
            return false;
          }else{
            validateCoupan(coupan);
          }
        }
    });

    
  function validateCoupan(cpn){
      var obj = {code:cpn};
      if(isLoggedIn(true) == true) {
        doPost("/applyCoupan",obj,function(resp){
          if(resp.status == 200){
            alert("Success : "+resp.msg);
            location.reload(true)
          }else{
            alert("Error : "+resp.msg);
          }
        })
      }else{
        var coupanDetails;
        var temp_cartData = JSON.parse(localStorage.getItem("cartDetails"));
        doPost("/getCoupan",obj,function(resp){
          if(resp.status == 200){
            coupanDetails = resp.coupandetail;
            if(coupanDetails.length > 0){
              var modified_temp_data = temp_cartData.map(function(data){
                if(parseInt(data.product.product_id) == coupanDetails[0]["other_product_detail_id"]){
                  var temp = Object.assign({}, data);
                  temp.product.coupan_applied = 1;
                  temp.product.coupancode = coupanDetails[0]["code"];
                  temp.product.new_price = Math.floor((temp.product.price) - (parseInt(temp.product.price) * parseInt(coupanDetails[0]["percent"])/100));
                  return temp;
                }else{
                  return data;
                }
              })
              localStorage.setItem("cartDetails",JSON.stringify(modified_temp_data));
              alert("Success : Coupan code applied with "+coupanDetails[0]["percent"]+"% discount ");
              location.reload(true)
            }
          }
        })
      }
    }
</script>
<link rel="stylesheet" href="/css/create-logo-bc.css?v=<%= options.version %>">
<%if (global.config.USE_MIN_FILES != true) { %>
    <script src="/js/checkout.min.js?v=<%= options.version %>"></script>
<% } else { %>
    <script src="/js/logomaker/helpers/checkout.js"></script>
<% } %>
<style type="text/css">
    .fms-bulb-header {
        width:auto !important
    }
    .other-product-bulb{
        height: 300px !important;
        width: 340px;
        padding: 5px;
    }
    
    .otherProductIframe{
        height: 254px;
        width: 254px;
        border: none
    }
.checkoutCountrySelector > a{width:100%!important;border:solid thin #ccc!important;background-color:#fff!important}
.checkoutCountrySelector>.bfh-selectbox-options{left:0;width:100%!important}
.checkoutCountrySelector [role=listbox],.checkoutCountrySelector .bfh-selectbox-options ul{width:100%;max-width:100%}
.checkoutCountrySelector ul{width:100%;max-width:100%}
#s2id_checkout-counry,#s2id_payment-type,#s2id_province{width:75%}
.form-control{display:inline-block;width:75%}
.pay-info-text{font-weight:700;font-size:16px;padding-bottom:15px;border-bottom:1px solid gray}
.bill-info-text{font-size:13px}
.purchase-info{padding-left:10px}
.purchase-info li{font-size:13px;color:#222;list-style: none;}
li.purchase-info-list:before{content: "-";display: inline-block;margin-right: 10px;}
.purchase-list-text{color:#222;font-weight:700}
.remove-link{padding-top:10px;padding-left: 5px !important}
.remove-link a{color:#505BDA;text-decoration:none!important;font-size:13px;display:block;padding-bottom:5px}
.remove-link a:hover{color:#505BDA!important}
.remove-link a i{font-size:18px;margin-right:5px}
.action-header{position:relative}
.action-title{position:absolute;bottom:0}
.checkout-buy-text{color:#888;font-weight:700;padding-top:5px}
.checkout-buy-text span{display:inline-block}
.checkout-main{background:#fff;padding-top:20px;padding-bottom:20px}
.combine-two{border:1px solid #a5a5a5;min-height:210px;padding-left:5px}
.checkout-main-header{padding-left:0;margin-bottom:20px}
.checkout-header{color:#00008b;font-size:20px;font-weight:700}
.fms-bulb{display:block;margin:0 auto;text-align:center}
.fms-bulb-header{min-height:200px;border:1px solid #a5a5a5;margin-top:4px;position:relative;height:200px}
.purchase-list-header{min-height:210px}
.card-number-checkout{width:15%}
.form-group .fa-question-circle{font-size:18px;cursor:pointer}
a.tooltip1:hover{color:#aaa}
.add-continued{position:relative;margin-bottom:20px}
.add-continued-span{position:absolute;bottom:-19px;width:100%;font-size:13px;left:23%}
.billing-information{margin-bottom:150px;margin-top:50px;padding-left:30px}
.radio{display:inline-block;margin-right:25px}
.radio-wrapper{padding-left:15px;display:none}
.checkout-proceed,.continue-shopping{padding:5px 40px;border-radius:2px;outline:none;color:#fff;text-align:center;background:#505BDA!important;border:1px solid #505BDA!important;font-size:15px}
.continue-shopping:hover{background:#505BDA!important;border:1px solid #505BDA!important;color:#fff!important}
.checkout-proceed:hover{background:#505BDA!important;border:1px solid #505BDA!important;color:#fff!important}
.checkout-proceed{margin-left:15px;background:#505BDA!important;border:1px solid #505BDA!important;min-width:180px;padding:5px 20px!important}
.check-billing-left{padding-left:30px}
.fms-bulb-img{margin:25px auto;display:block}
.order-labels{width:100%;display:block;font-size:10px;}
.order-list{font-size:13px;}
.column-spacing{padding-right:0!important;padding-left:5px!important}
.logo-section{margin-top:0}
.purchase-header{font-weight:700;text-decoration:underline;padding-top:5px}
.login-logo-card{margin:25px auto!important}
.login-logo-card svg{margin:0 auto!important;display:block}
.checkout-detail-form{margin-top:30px;padding-left:30px;padding-right:30px}
.checkout-detail-form input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],textarea{width:100%!important}
#proceedBack{margin-top:10px;margin-left:-15px}
.proceedPayment{margin-top:10px;margin-right:-40px}
.amount{font-weight:bolder;margin-top:16px;margin-right:23px}
.proceedPayment2{margin-top:10px;margin-right:5px}
.check-payment-image img{max-height:100%;max-width:100%}
.checkout-payment-header{margin-top:30px;font-size:18px!important}
.checkout-payment-body{margin-top:30px;font-size:13px}
.payment-next{color:#fff;border:1px solid #0078c6;padding:5px 10px;border-radius:5px}
.payment-next:hover{border:1px solid #00609e}
.payment-back{color:#fff;padding:5px 10px;border-radius:5px}
.payment-next:hover{border:1px solid #0078c6}
.checkout-congrats-body .fa-check{border:2px solid #c9e173;padding:5px;border-radius:50%;font-size:18px}
.confirm-checkout-body{margin-top:40px}
.checkout-congrats{padding-left:5px}
.checkout-continue-shop{margin-bottom:50px;margin-left:45px}
.checkout-body-container{border:1px solid #ddd;padding:30px 15px;min-height:250px;margin-left:30px}
.checkout-pay-verified{color:#a2a2a2;padding-left:55px;margin-top:15px}
.terms-and-conditions{margin-top:25px}
.checkout-back-proceed{margin-top:10px;margin-bottom:30px;margin-left:-30px!important}
.delivery-proceed-body{padding-right:0!important}
.proceed-pay-content{padding-right:0!important}
</style>
<!-- inner-hero-section start -->
<section class="page-top page-top-logo">
  <div class="container">
      <div class="row">
          <div class="col-md-12" style="margin-top:100px;">
              <h1 class="page-common-header">Checkout<h1>
          </div>
      </div>
  </div>
</section>
<!-- inner-hero-section end -->
<!-- checkout-section start -->
<section class="checkout-section pt-40 pb-150" style="background-color: #fff;">
    <div class="container">
      <!--<form class="checkout-form">-->
        <div class="row">
          <div class="col-lg-12">
            <div class="product-table-area table-responsive">
              <table class="product-table">
                <thead>
                  <tr>
                    <th>product</th>
                    <th>size & quantity</th>
                    <th>price</th>
                    <th>total</th>
                    <th>remove</th>
                  </tr>
                </thead>
                <tbody id="checkoutList">
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row mt-50" id="coupanhide">
          <div class="col-lg-12">
            <div class="coupon-wrapper text-lg-right">
            <input type="text" name="coupon_field" id="coupon_field" placeholder="Enter Coupon Number">
              <button type="button" class="btn btn-primary" id="validatecoupan">apply coupon</button>
            </div>
          </div>
        </div>
        <div class="row mt-100" id="checkoutbody">
          <div class="col-lg-6">
            <div class="shipping-details">
              <h3 class="title">Delivery Address</h3>
              <p class="bg-danger padding-15" style="display: none" id="validationError">

              </p>
               <!-- <form id="editProfileForm">
                    <div class="form-group" id="savedAddresses">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="emailId">Saved addresses</label>
                                <select id="savedAddress" class="form-control full-width"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="emailId">Email address<em>*</em></label>
                                <input type="email" class="form-control input-sm" id="emailId" required="true" name="emailId" placeholder="Enter email" email="true">
                            </div>
                            <div class="col-md-6">
                                <label for="phone_num">Phone Number<em>*</em></label>
                                <input type="text" class="form-control input-sm" required="true" id="phone_num" name="phone_num" placeholder="Phone Number">
                                <span id="errmsg"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pwd" style="display: none">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="address">Password<em>*</em></label>
                                <input type="password" required="true" minlength="5" class="form-control input-sm" id="current_password" name="current_password" placeholder="Enter a password">
                            </div>
                            <div class="col-md-6">
                                <label for="address">Confirm Password<em>*</em></label>
                                <input type="password" required="true" minlength="5" class="form-control input-sm" id="confirm_password" name="confirm_password" placeholder="Enter a password" equalto="[name=current_password]">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="first_name">First Name<em>*</em></label>
                                <input type="text" class="form-control input-sm" id="first_name" required="true" name="first_name" placeholder="First Name">
                            </div>
                            <div class="col-md-6">
                                <label for="last_name">Last Name<em>*</em></label>
                                <input type="text" class="form-control input-sm" id="last_name" required="true" name="last_name" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="address1">Address Line 1<em>*</em></label>
                                <input type="text" class="form-control input-sm" id="address1" required="true" name="address1" placeholder="Address Line 1">
                            </div>
                            <div class="col-md-6">
                                <label for="address2">Address Line 2</label>
                                <input type="text" class="form-control input-sm" id="address2" name="address2" placeholder="Address Line 1">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="city">City<em>*</em></label>
                                <input type="text" class="form-control input-sm" id="city" name="city" placeholder="City" required="true">
                            </div>
                            <div class="col-md-6">
                                <label for="state">State<em>*</em></label>
                                <input type="text" class="form-control input-sm" id="state" name="state" placeholder="State" required="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="country">Country<em>*</em></label>
                                <div class="bfh-selectbox bfh-countries checkoutCountrySelector" data-country="IN" data-flags="true"
                                     data-filter="true" id="country" required="true" name="country"></div>
                            </div>
                            <div class="col-md-6">
                                <label for="postal_code">Postal Code<em>*</em></label>
                                <input type="text" class="form-control input-sm" id="postal_code" name="postal_code" required="true" placeholder="Postal Code">
                            </div>
                        </div>
                    </div>
                    <div class="form-group terms-and-conditions col-md-4">
                        <div class="custom04" style="display: flex;">
                            <label for="w1-terms">I Agree to the
                                <a href="/terms-use" target="_blank" class="text-deco_underline">Terms & Conditions</a>
                            </label>
                            <input type="checkbox" name="terms" id="w1-terms" required="" checked="true" style="min-height: 15px; width:50px;">
                        </div>
                    </div>
                    <br>
                    <div class="form-group dase-addr col-md-4">
                        <div class="custom04" style="display: flex;">
                            <label for="save_addr">Save this address</label>
                            <input type="checkbox" name="save_addr" id="save_addr" checked="true" style="min-height: 15px; width:50px;">
                            </label>
                        </div>
                        <div class="col-sm-2 col-md-2"></div>
                    </div>
                                        
                </form>-->

              <form id="editProfileForm">
                <div class="form-row">
                  <div class="form-group col-lg-12" id="sa_div">
                    <select name="saved_addr" id="savedAddress" class="form-control full-width">
                    </select>
                  </div>
                  <div class="form-group col-lg-12">
                    <input type="email" id="emailId" required="true" name="emailId" placeholder="Enter email" email="true">
                  </div>
                  <div class="form-group col-lg-12">
                    <input type="tel" minlength="10" maxlength="10" required="true" id="phone_num" name="phone_num" placeholder="10 digit mobile number">
                  </div>
                  <div class="form-group col-lg-12">
                    <input type="text" id="first_name" required="true" name="first_name" placeholder="First Name">
                  </div>
                  <div class="form-group col-lg-12">
                    <input type="text" id="last_name" required="true" name="last_name" placeholder="Last Name">
                  </div>
                  <div class="form-group col-lg-12">
                    <input type="text" id="address1" required="true" name="address1" placeholder="Address Line 1">
                  </div>
                  <div class="form-group col-lg-12">
                    <input type="text" id="address2" required="true" name="address2" placeholder="Address Line 2">
                  </div>
                  <div class="form-group col-lg-12">
                    <div class="col-md-6">
                      <input type="text" id="state" name="state" required="true" style="margin-left:-14px" placeholder="Enter State">
                    </div>
                    <div class="col-md-6">
                      <input type="text" id="city" name="city" required="true" style="margin-left:-14px" placeholder="Enter City">
                    </div>
                  </div>
                  <div class="form-group col-lg-12">                  
                    <div class="col-md-4">
                      <input type="text" id="postal_code" name="postal_code" required="true" style="margin-left:-14px" placeholder="Post Code / Zip">
                    </div>
                    <div class="col-md-3">
                      <input type="button" name="pinSignupBtn" value="Check" id="pinSignupBtn" class="btn pull-left push-bottom createAccountBtn btn-primary2" style="background-color: #505bda; line-height: 1; height: 5%; margin-bottom: 10px;">
                    </div>
                    <div class="col-md-5">
                      <b id="deliveryavailable" style="color:green;display: none;"> Delivery available </b>
                      <b id="deliverynotavailable" style="color:red;display: none;"> Delivery not available </b>
                    </div>
                  </div>


                  <div class="form-group terms-and-conditions col-lg-12">
                    <div class="custom04" style="display: flex;">
                        <label for="w1-terms">I Agree to the
                            <a href="/terms-use" target="_blank" class="text-deco_underline">Terms & Conditions</a>
                        </label>
                        <input type="checkbox" name="terms" id="w1-terms" required="" checked="true" style="min-height: 15px; width:50px;">
                    </div>
                  </div>
                  <div class="form-group dase-addr col-md-4">
                      <div class="custom04" style="display: flex;" id='sai_div'>
                          <label for="save_addr">Save this address</label>
                          <input type="checkbox" name="save_addr" id="save_addr" checked="true" style="min-height: 15px; width:50px;">
                          </label>
                      </div>
                      <div class="col-sm-2 col-md-2"></div>
                  </div>


                  <!--<div class="form-group pwd" style="display: none">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="address">Password<em>*</em></label>
                            <input type="password" required="true" minlength="5" class="form-control input-sm" id="current_password" name="current_password" placeholder="Enter a password">
                        </div>
                        <div class="col-md-6">
                            <label for="address">Confirm Password<em>*</em></label>
                            <input type="password" required="true" minlength="5" class="form-control input-sm" id="confirm_password" name="confirm_password" placeholder="Enter a password" equalto="[name=current_password]">
                        </div>
                    </div>
                  </div>-->
                  <!--<div class="form-group col-lg-12">
                    <select name="shipping_state" id="shipping_state">
                      <option value="#0">State</option>
                      <option value="">New Delhi</option>
                      <option value="">Uttar Pradesh</option>
                      <option value="">Bihar</option>
                    </select>
                  </div>-->
                  <!--<div class="form-group col-lg-12">
                    <select name="shipping_country" id="shipping_country">
                      <option value="#0">Select Country</option>
                      <option value="India">India</option>
                    </select>
                  </div>-->
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-6 mt-lg-0 mt-3">
            <div class="cart-total-area" id="total_cart_detail">
            
            </div>
            <div class="btn-area mt-3 text-lg-right" id="checkoutbtn">
              <button class="btn btn-primary" id="proceedToPayment">Product Checkout</button><br>
              <span style="color:red;" id="verifyaddress"> Please verify pincode for delivery </span>
            </div>
          </div>
        </div>
      <!--</form>-->
    </div>
  </section>
  <!-- checkout-section end -->
<script>
//fbq('track', 'AddToCart');
var proceedToPaymentBtn = document.getElementById("proceedToPayment");
var verifyaddress = document.getElementById("verifyaddress");
proceedToPaymentBtn.disabled = true;
verifyaddress.style.display = "block";

$("#pinSignupBtn").click(function(e){
  proceedToPaymentBtn.disabled = true;
  verifyaddress.style.display = "block";
          var pincode = $("#postal_code").val();
          if(pincode.trim() != ""){
            $("#deliveryavailable").hide();
            $("#deliverynotavailable").hide();
            var dataobj = {"pincode":pincode}
            doPost("/checkPinCode", dataobj, function (b) {
              if(b.status == 200){
                if(b.valid == 1){
                  proceedToPaymentBtn.disabled = false;
                  verifyaddress.style.display = "none";
                  $("#deliverynotavailable").hide();
                  $("#deliveryavailable").show();
                }else{
                  verifyaddress.style.display = "block";
                  proceedToPaymentBtn.disabled = true;
                  $("#deliverynotavailable").show();
                  $("#deliveryavailable").hide();
                }
              }else{
                bootbox.alert("Something went wrong")
              }
            })
          }else{

          }
          
        })
</script>
<% include myFooter.ejs %>