<!DOCTYPE html>
<html>
<head>
    <!-- base href="<%= base %>/" target="_self" -->
    <meta charset="utf-8">
    <title><%= typeof meta_title == "undefined" ? "Company Logo Online|Free Design &amp; Download|Tagbit.co" : meta_title %></title>
    <meta name="msvalidate.01" content="CBFBD15F3AA384DFE8ACFB943BF145C2" />
    <meta name="keywords" content="<%= typeof keyword == "undefined" ? "online free logo, download logo free, free logo generator, logo templates" : keyword %>"/>
    <meta name="description" content="<%= typeof desc == "undefined" ? "Create logo for company online for free, logo designed by professionals only at Tagbit.co. Create logo in 4 simple steps. Online logo making software" : desc %>">
    <meta name="author" content="https://plus.google.com/+Tagbitmake-logo-online">
    <meta name="alt" content="<%= typeof alt_text == "undefined" ? "Online Free Logo" : alt_text %>">
    <meta property="fb:admins" content="789476301119897" />
    <meta property="og:title" content="Tagbit: Startup Branding Solutions Online" />
    <meta property="og:type" content="image" />
    <meta property="og:url" content="www.Tagbit.co" />
    <meta property="og:image" content="https://www.tagbit.co/img/Tagbit.jpg" />
    <meta property="og:description" content="Create a logo is essential part of your company marketing efforts. Tagbit is a free logo maker helps you to design you logo, business card, and mug free. Our logo maker and branding tool kits helps you create a unique identity to present your business qualities." />
    <meta property="og:site_name" content="Tagbit " />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@FreeLogoOnline" />
    <meta name="twitter:title" content="Free Logo Maker: Design Your Logo's with Logo Generator Online" />
    <meta name="twitter:description" content="Create a logo is essential part of your company marketing efforts. Tagbit is a free logo maker helps you to design you logo, business card, and mug free. Our logo maker and branding tool kits helps you create a unique identity to present your business qualities." />
    <meta name="twitter:image:src" content="https://www.tagbit.co/img/Tagbit.jpg" />

    <meta itemprop="name" content="Tagbit" />
    <meta itemprop="description" content="Create a logo is essential part of your company marketing efforts. Tagbit is a free logo maker helps you to design you logo, business card, and mug free. Our logo maker and branding tool kits helps you create a unique identity to present your business qualities." />
    <meta itemprop="image" content="https://www.tagbit.co/img/Tagbit.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/freelogo_favicon.ico" type="image/x-icon">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
          rel="stylesheet" type="text/css">
    <!--[if IE]>
    <link rel="stylesheet" href="/css/ie.css">
    <![endif]-->
    <script>
        //var currentCountryFromServer = '<%= geoip %>';
    </script>
    <%if (global.config.USE_MIN_FILES == true) { %>
    <link rel="stylesheet" href="/css/header.min.css?v=<%= options.version %>">
    <% } else { %>
    <link rel="stylesheet" href="/js/thirdparty/toast/jquery.toast.css">
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="/vendor/owlcarousel/owl.carousel.css" media="screen">
    <link rel="stylesheet" href="/vendor/owlcarousel/owl.theme.css" media="screen">
    <link rel="stylesheet" href="/vendor/magnific-popup/magnific-popup.css" media="screen">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/theme-elements.css">
    <link rel="stylesheet" href="/css/theme-blog.css">
    <link rel="stylesheet" href="/css/theme-shop.css">
    <link rel="stylesheet" href="/css/theme-animate.css">
    <link rel="stylesheet" href="/vendor/rs-plugin/css/settings.css" media="screen">
    <link rel="stylesheet" href="/vendor/circle-flip-slideshow/css/component.css" media="screen">
    <link rel="stylesheet" href="/css/skins/blue.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/jquery.fancybox-buttons.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/jquery.fancybox-thumbs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/select2.css" media="screen">
    <link rel="stylesheet" href="/css/bootstrap-formhelpers.css" media="screen">
    <link rel="stylesheet" href="/css/jquery.feedback_me.css" media="screen">
    <link rel="stylesheet" href="/css/jquery.accordion.css">
    <link rel="stylesheet" href="/css/theme-admin-extension.css" media="screen">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/sprite.css"/>

    <% } %>
    <script src="/vendor/jquery/jquery.js"></script>
    <script>
        var currentCountryFromServer = "<%= JSON.stringify(geoip) %>";
    </script>
    <!--[if lte IE 8]>
    <script src="/vendor/respond/respond.js"></script>
    <script src="/vendor/excanvas/excanvas.js"></script>
    <![endif]-->
    <% include fonts.ejs %>
	
	<!-- Facebook Pixel Code -->
	<!-- <script>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window,document,'script',
		'https://connect.facebook.net/en_US/fbevents.js');
		 fbq('init', '1521667134566723'); 
		fbq('track', 'PageView');
	</script> -->
</head>
<body>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
/*var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5b77f2b6afc2c34e96e7b07f/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();*/
</script>
<!--End of Tawk.to Script-->
<div class="body">
    <div class="row top-page-header">
        <div class="container page-header-container">
            <nav>
                <ul class="nav nav-pills nav-top pull-left">
                    <li>
                        <div class="bfh-selectbox bfh-countries top-countries-list" data-country="<%= geoip ? geoip.country : "IN" %>" data-flags="true"
                             data-filter="true"></div>
                    </li>
                </ul>
                <ul class="nav nav-pills nav-top pull-right">
                    <li class="track-order" style="display: none">
                        <a href="#">TRACK ORDER</a>
                    </li>
                    <!-- style="<% user ? "display:none" : "" %>" -->
                    <li id="mySavedItems" class="my-cart saved-items" >
                        <a href="/mydesigns">Saved Items (<span class="itemCount">0</span>)</a>
                    </li>
                    <!-- style="<%= user ? "": 'display:none' %>" -->
                    <li id="myProducts" class="my-cart my-designs" >
                            <a href="/my-designs" >
                                <span class="mydesign_text"><%- i18n.__("My Designs") %></span> (<span class="my-design-count">0</span>)
                            </a>
                        </li>
                    <li class="my-cart">
                        <a href="/checkout" class="comm-bg"><i class="fa fa-shopping-cart"></i><span class="myCart_text">My Cart </span>(<span class="cart-order">0</span>)</a>
                    </li>
                    <!-- style="<%= user ? "": 'display:none' %>" -->
                    <li id="headerAccountLogout" 
                            class="dropdown mega-menu-item mega-menu-signin signin logged pull-right">
                            <a class="dropdown-toggle disabled">
                                <!-- <%= user ? user.email : "" %> -->
                                <i class="fa fa-user"></i><span id="logoutLabel"></span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdownlogout user-profile-details">
                                <li><a class="profile" href="/editProfile">Profile</a></li>
                                <li><a class="changePwd" href="/change-password"> Change Password</a></li>
                                <li><a class="logoutBtn link"> Logout</a></li>
                            </ul>
                        </li>
                        <!-- style="<%= !user ? "": 'display:none' %>" -->
                    <li  class="dropdown mega-menu-item mega-menu-signin signin headerAccount-signin" id="headerAccount">
                            <a class="dropdown-toggle login_top_pointer" data-href="#/login">
                                <i class="fa fa-user"></i> Login
                            </a>
                            <ul class="dropdown-menu headerAccount-dropdown">
                                <li>
                                    <div class="mega-menu-content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="signin-form">
                                                    <span class="mega-menu-sub-title">Login</span>
                                                    <form action="#" id="loginFormOnTop" method="post">
                                                        <div class="row">
                                                            <div class="form-group">
                                                                <div class="col-md-12">
                                                                    <span class="error-signin"></span>
                                                                    <label>E-mail Address</label>
                                                                    <input type="text" value="" class="form-control input-lg" id="emailid" name="emailid" required="true" email="true">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group">
                                                                <div class="col-md-12">
                                                                    <label>Password</label>
                                                                    <input type="password" value="" class="form-control input-lg" id="password" name="password" required="true" minlength="5">
                                                                           <a class="pull-right" id="headerRecover">Forgot
                                                                        Password?</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <span class="remember-box checkbox">
                                                                    <label for="rememberme">
                                                                        <input type="checkbox" id="rememberme" name="rememberme" checked="true">Remember
                                                                        Me
                                                                    </label>
                                                                </span>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="submit" value="Login" id="loginBtn" class="btn btn-primary2 pull-right push-bottom" data-loading-text="Loading...">
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <p class="sign-up-info">Don't have an account yet? <a id="headerSignUp">Create Account</a></p>
                                                </div>
                                                <div class="signup-form">
                                                    <span class="mega-menu-sub-title">Create Account</span>
                                                    <form action="#" id="signupForm" method="post">
                                                        <div class="row">
                                                            <div class="form-group">
                                                                <div class="col-md-12">
                                                                    <label>E-mail Address</label>
                                                                    <input name="signup_email" type="text" placeholder="Email" class="form-control input-lg" required="true" email="true">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group">
                                                                <div class="col-md-6">
                                                                    <label>Password</label>
                                                                    <input name="signup_password" type="password" placeholder="Password" class="input-lg form-control" required="true" minlength="5">
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label>Re-enter Password</label>
                                                                    <input name="confirm_password" type="password" placeholder="Confirm Password" class="form-control input-lg" required="true" minlength="5" equalTo="[name=signup_password]">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <input type="button" id="signUpBtn" value="Create Account" class="btn pull-right push-bottom" data-loading-text="Loading...">
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <p class="log-in-info">Already have an account?
                                                        <a href="#/login" id="headerSignIn" class="comm-color">Log In!</a>
                                                    </p>
                                                </div>
                                                <div class="recover-form">
                                                    <span class="mega-menu-sub-title">Forgot Password</span>
                                                    <p>Complete the form below to receive an email with the
                                                        authorization code needed to reset your password.</p>
                                                    <form action="#" id="" method="post">
                                                        <div class="row">
                                                            <div class="form-group">
                                                                <div class="col-md-12">
                                                                    <label>E-mail Address</label>
                                                                    <input id="changePwdEmailAddr" type="text" value="" class="form-control input-lg">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <input id="changePasswordBtn" type="button" value="Proceed" class="btn btn-primary2 pull-right push-bottom" data-loading-text="Loading...">
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <p class="log-in-info">
                                                        <a href="#" id="headerRecoverCancel">Back to Log In!</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- style="<%= !user ? "": 'display:none' %>" -->
                    <li  class="dropdown mega-menu-item mega-menu-signin signin headerAccount-signin" id="headerRegister">
                        <a class="dropdown-toggle login_top_pointer" data-href="#/signup">
                            <i class="fa fa-sign-in"></i>
                            Register
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <header id="header">
        <div class="container">
            <div class="logo">
                <a href="/">
                    <img width="240" height="80" data-sticky-width="130" data-sticky-height="60" src="/img/online-freelogo.png" alt="Tagbit.co" class="custom07"/>
                </a>
            </div>
            <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="navbar-collapse nav-main-collapse collapse">
            <div class="container">
                <nav class="nav-main mega-menu">
                    <ul class="nav nav-pills nav-main" id="mainMenu">
                        <li class="dropdown logo-dropdown nav-logo-dropdown">
                            <a class="dropdown-toggle logo-all-pdts">
                                ALL PRODUCTS
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu logomaker-drpdwn padding-0" style="height: 220px">
                                <li class="dropdown-submenu-logo logoMaker">
                                    <a href="/logo-design-online">Logo Maker</a>
                                </li>
                                <!-- 
                                <li class="dropdown-submenu-logo visitingCard">
                                    <a href="/design-business-card-online">Business Card</a>
                                </li>
                                <li class="dropdown-submenu-logo tShirt">
                                    <a href="/other/list/t-shirts">T-Shirts</a>
                                </li>
                                <li class="dropdown-submenu-logo mug">
                                    <a href="/other/design-mug-online">Mug</a>
                                </li>
                                <li class="dropdown-submenu-logo postcards hide">
                                    <a href="#">Postcards</a>
                                </li>
                                <li class="dropdown-submenu-logo postcards">
                                    <a href="/other/list">More Products...</a>
                                </li>
                                 -->
                                <!--
                                <li class="dropdown-submenu-logo postcards no-pointer-events">
                                    <a href="#">&nbsp;</a>
                                </li>
                                -->

                            </ul>
                            <div class="container logomaker-menu">
                                <div class="row logomaker-row">
                                    <div class="logomaker-img">
                                        <div class="logomaker-img-steps">4 Easy steps to create logos</div>
                                        <ul>
                                            <li><img alt="Tagbit.co" src="/img/logo-enter.png" class=""><span class="">Enter Identity</span></li>
                                            <li class="curved-image">
                                                <span class="orange-curve"></span>
                                                <!--<img alt="Tagbit.co" src="/img/top-curve-01.png">-->
                                            </li>
                                            <li><img alt="Tagbit.co" src="/img/logo-select.png"><span class="">Select logo</span></li>
                                            <li class="curved-image">
                                                <span class="red-curve"></span>
                                                <!--<img alt="Tagbit.co" src="/img/top-curve-02.png">-->
                                            </li>
                                            <li><img alt="Tagbit.co" src="/img/logo-customize.png"><span class="">Customize logo</span>
                                            </li>
                                            <li class="curved-image">
                                                <span class="green-curve"></span>
                                                <!--<img alt="Tagbit.co" src="/img/top-curve-03.png">-->
                                            </li>
                                            <li><img alt="Tagbit.co" src="/img/logo-save.png"><span class="">Save & Download</span></li>
                                        </ul>
                                    </div>
                                    <div class="clr">
                                        <div class="get-started">
                                            <a href="/logo-design-online" class="get-started-btn">Get Started</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container visitingCard-menu">
                                <div class="row logomaker-row">
                                    <div class="logomaker-img-steps">4 Easy steps to create business cards</div>
                                    <ul class="visitingCard-ul">
                                        <li><img alt="Tagbit.co"  src="/img/card-choose.png"><span class="">Choose Card</span></li>
                                        <li class="curved-image">
                                            <span class="orange-curve"></span>
                                            <!--<img alt="Tagbit.co"  src="/img/top-curve-01.png">-->
                                        </li>
                                        <li><img alt="Tagbit.co"  src="/img/card-edit.png"><span class="">Edit Card</span></li>
                                        <li class="curved-image">
                                            <span class="red-curve"></span>
                                            <!--<img alt="Tagbit.co"  src="/img/top-curve-02.png">-->
                                        </li>
                                        <li><img alt="Tagbit.co"  src="/img/card-customize.png"><span class="">Customize Card</span></li>
                                        <li class="curved-image curved-image-download">
                                            <span class="green-curve"></span>
                                            <!--<img alt="Tagbit.co"  src="/img/top-curve-03.png">-->
                                        </li>
                                        <li class="card-dwld-list"><img alt="Tagbit.co" src="/img/logo-save.png"><span class="">Save & Download</span>
                                        </li>
                                    </ul>
                                    <div class="clr">
                                        <div class="get-started">
                                            <a href="/design-business-card-online" class="get-started-btn">Get Started</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container tshirt-menu">
                                <div class="row logomaker-row">
                                    <div class="logomaker-img">
                                        <div class="logomaker-img-steps">3 Easy steps to create t-shirt</div>
                                        <ul class="tshirt-ul">
                                            <li><img alt="Tagbit.co" src="/img/choose_logo.png" class="tshirt-header-img"><span class="">Choose the Logo</span></li>
                                            <li class="curved-image">
                                                <span class="orange-curve"></span>
                                                <!--<img alt="Tagbit.co" src="/img/top-curve-01.png">-->
                                            </li>
                                            <li><img alt="Tagbit.co" src="/img/customize_tshirt.png" class="tshirt-header-img"><span class="">Customize T-shirt</span></li>
                                            <li class="curved-image">
                                                <span class="green-curve"></span>
                                                <!--<img alt="Tagbit.co" src="/img/top-curve-03.png">-->
                                            </li>
                                            <li><img alt="Tagbit.co" src="/img/downloadm.png" class="tshirt-header-img"><span class="">Buy it</span></li>
                                        </ul>
                                    </div>
                                    <div class="clr">
                                        <div class="get-started">
                                            <a href="/other/list/t-shirts" class="get-started-btn">Get Started</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row logomaker-row hide">
                                    <div class="tshirt-text">Coming Soon</div>
                                </div>
                            </div>
                            <div class="container mug-menu">
                                <div class="row logomaker-row">
                                    <div class="logomaker-img">
                                        <div class="logomaker-img-steps">4 Easy steps to create mug</div>
                                        <ul class="tshirt-ul">
                                            <li><img alt="Tagbit.co" src="/img/choose_logo.png" class="tshirt-header-img"><span class="">Choose the Logo</span></li>
                                            <li class="curved-image">
                                                <span class="orange-curve"></span>
                                                <!--<img alt="Tagbit.co" src="/img/top-curve-01.png">-->
                                            </li>
                                            <li><img alt="Tagbit.co" src="/img/chse_design.png" class="tshirt-header-img"><span class="">Choose Design</span></li>
                                            <li class="curved-image">
                                                 <span class="red-curve"></span>
                                                <!--<img alt="Tagbit.co" src="/img/top-curve-02.png">-->
                                            </li>
                                            <li><img alt="Tagbit.co" src="/img/customize_mug.png" class="tshirt-header-img"><span class="">Customize Mug</span></li>
                                            <li class="curved-image">
                                                <span class="green-curve"></span>
                                                <!--<img alt="Tagbit.co" src="/img/top-curve-03.png">-->
                                            </li>
                                            <li><img alt="Tagbit.co" src="/img/downloadm.png" class="tshirt-header-img"><span class="">Save & Buy</span></li>
                                        </ul>
                                    </div>
                                    <div class="clr">
                                        <div class="get-started">
                                            <a href="/other/design-mug-online" class="get-started-btn">Get Started</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row logomaker-row hide">
                                    <div class="tshirt-text">Coming Soon</div>
                                </div>
                            </div>
                            <div class="container postcard-menu">
                                <div class="row logomaker-row">
                                    <div class="tshirt-text"><a href="/other/list">Click here for more products.</a></div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown drop-logomaker nav-logo-dropdown">
                            <a class="" href="/logo-design-online">
                                LOGO MAKER
                            </a>
                        </li>
                        <li class="dropdown drop-contact nav-logo-dropdown">
                            <a class="" href="/contact-us">
                                <%- i18n.__("CONTACT") %>
                            </a>
                        </li>
                        <li class="dropdown drop-blog nav-logo-dropdown">
                            <a class="" href="https://www.tagbit.co/tips">
                                LOGO TIPS
                            </a>
                        </li>
                        <li class="dropdown drop-blog nav-logo-dropdown">
                            <a target="_blank" class="" href="https://blog.Tagbit.co/">
                                BLOG
                            </a>
                        </li>
                        <!-- style="<% user ? "display:none" : "" %>" -->
                        <li class="dropdown drop-login-mobile" >
                            <a href="/login">Login</a>
                        </li>
                        <!-- style="<% !user ? "display:none" : "" %>" -->
                        <li class="dropdown signout-mobile" >
                            <a class="dropdown-toggle" >
                                <%= user && user.email %> <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu padding-0">
                                <li class="dropdown-submenu-logo">
                                    <a class="profile" href="/editProfile">Profile</a>
                                </li>
                                <li class="dropdown-submenu-logo">
                                    <a class="changePwd" href="/change-password">Change Password</a>
                                </li>
                                <li class="dropdown-submenu-logo">
                                    <a class="logoutBtn link">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div> 
    </header>

    <script type="text/html" id="newLoginModal">
        <div class="modal fade custom08" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="false">
            <!--<div class="modal-backdrop fade in custom09"></div>-->
            <div class="modal-dialog">
                <div class="modal-content modal-content-signin">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        <h4 class="modal-title" id="myModalLabel1">LOGIN</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" id="" method="post">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label>E-mail Address</label>
                                        <input type="text" value="" class="form-control input-lg"
                                               id="popupSignInUsername">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label>Password</label>
                                        <input type="password" value="" class="form-control input-lg"
                                               id="popupSignPassword">
                                        <a class="pull-right" id="headerRecover2" href="#">Forgot Password?</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                            <span class="remember-box checkbox">
                                <label for="rememberme">
                                  <input type="checkbox" id="rememberme" name="rememberme" checked="true">Remember Me
                                </label>
                            </span>
                                </div>
                                <div class="col-md-6">
                                    <input type="button" value="Login" id="loginBtn"
                                           class="btn btn-primary2 pull-right push-bottom"
                                           data-loading-text="Loading...">
                                </div>
                            </div>
                        </form>
                        <p class="sign-up-info">Don't have an account yet? <a href="#" id="headerSignUp2">Create
                                Account</a></p>
                    </div>
                </div>
                <div class="modal-content modal-content-signup">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h4 class="modal-title" id="myModalLabel2">CREATE ACCOUNT</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" id="signupForm1" method="post">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label>E-mail Address</label>
                                        <input id="popupSignUpUsername" name="signup_email" type="text"
                                               placeholder="Email" class="form-control input-lg" required="true"
                                               email="true">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label>Password</label>
                                        <input name="popupSignUpPassword" type="password" placeholder="Password"
                                               class="input-lg form-control" required="true" minlength="5">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Re-enter Password</label>
                                        <input id="popupSignPasswordConfirm" name="popupSignPasswordConfirm"
                                               type="password" placeholder="Confirm Password"
                                               class="form-control input-lg" required="true" minlength="5"
                                               equalTo="[name=popupSignUpPassword]">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="button" value="Create Account"
                                           class="btn pull-right push-bottom createAccountBtn"
                                           name="popupCreateAccountBtn" data-loading-text="Loading...">
                                </div>
                            </div>
                        </form>
                        <p class="log-in-info">Already have an account? <a href="#" id="headerSignIn1"
                                                                           class="comm-color">Log In!</a></p>
                    </div>
                </div>
                <div class="modal-content modal-content-forgot" style="display: none">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h4 class="modal-title" id="myModalLabel2">FORGOT PASSWORD</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" id="signupForm2" method="post">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label>E-mail Address</label>
                                        <input id="popupForgotUsername" name="signup_email" type="text"
                                               placeholder="Email" class="form-control input-lg" required="true"
                                               email="true">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="button" value="Send Recovery Mail"
                                           class="btn pull-right push-bottom"
                                           id="popupSendRecoveryBtn"
                                           name="popupSendRecoveryBtn" data-loading-text="Loading...">
                                </div>
                            </div>
                        </form>
                        <p class="log-in-info">Already have an account? <a href="#" id="headerSignIn3"
                                                                           class="comm-color">Log In!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </script>