<!DOCTYPE html>
<html lang="en">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>:: Tagbit ::</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,700,800,600" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="freelogo_favicon.ico" type="image/x-icon">
    </head>

    <body style="margin:0; padding:0; font-family: open sans;">
        <table cellpadding="0" cellspacing="0" id="wrap" style="width:940px; background: #f7f7f7; margin:0 auto; padding:0 165px 100px;"><!-- /Wrapper -->
            <tr>
                <td class="text-center" style="text-align: center;position: relative;"><p class="small-text" style="font-size: 12px;color: #808080;"></p></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" id="inner-wrap" style="width: 100%; background: #fff; margin: 0 auto; padding:20px 0 0; border: 1px solid #dedede;"><!-- /Inner Wrapper -->
                        <tr>
                            <td>
                                <table cellpadding="0" cellspacing="0" style="width:100%;"><!-- /Header -->
                                    <tr>
                                        <td class="text-left" style="text-align: left;"><a href="https://www.tagbit.co/" target="_blank" title="Online Free Logo"><img src="<%= base %>/img/email/online_free_logo.jpg" alt="Online Free Logo"></a></td>
                                        <td class="text-right" style="text-align: right;">
                                            <div class="social-media" style="float: right;">
                                                <a href="https://www.facebook.com/tagbit?ref=tn_tnmn" target="_blank" class="fb" title="Facebook" style="display: inline-block;width: 35px;height: 20px;-webkit-transition: background .3s ease-in-out;-moz-transition: background .3s ease-in-out;-ms-transition: background .3s ease-in-out;-o-transition: background .3s ease-in-out;transition: background .3s ease-in-out;background: url(<%= base %>/img/email/sprite_social_icons.png) 0 0px no-repeat;"></a>
                                                <a href="https://twitter.com/FreeLogoOnline" target="_blank" class="twitter" title="Twitter" style="display: inline-block;width: 35px;height: 20px;-webkit-transition: background .3s ease-in-out;-moz-transition: background .3s ease-in-out;-ms-transition: background .3s ease-in-out;-o-transition: background .3s ease-in-out;transition: background .3s ease-in-out;background: url(<%= base %>/img/email/sprite_social_icons.png) -37px 0px no-repeat;"></a>
                                                <a href="https://plus.google.com/u/0/+tagbitmake-logo-online/about" target="_blank" class="gplus" title="Google +" style="display: inline-block;width: 35px;height: 20px;-webkit-transition: background .3s ease-in-out;-moz-transition: background .3s ease-in-out;-ms-transition: background .3s ease-in-out;-o-transition: background .3s ease-in-out;transition: background .3s ease-in-out;background: url(<%= base %>/img/email/sprite_social_icons.png) -72px 0 no-repeat;"></a>
                                                <a href="#" class="instagram" title="LinkedIn" style="display: inline-block;width: 35px;height: 20px;-webkit-transition: background .3s ease-in-out;-moz-transition: background .3s ease-in-out;-ms-transition: background .3s ease-in-out;-o-transition: background .3s ease-in-out;transition: background .3s ease-in-out;background: url(<%= base %>/img/email/sprite_social_icons.png) -107px 0 no-repeat;"></a>
                                            </div>
                                        </td>
                                    </tr>
                                </table><!-- /.Header -->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table cellpadding="0" cellspacing="0" class="margin" style="width: 100%;margin-top: 20px;"><!-- /Menu -->
                                    <tr>
                                        <td class="nav" style="background: #2ac1c0;">
                                            <ul style="padding: 0;">
                                                <li style="display: inline-block;">
                                                    <a href="<%= base %>/my-designs" title="Your Designs" style="font-size: 15px;color: #fff;text-decoration: none;padding: 0 16px;">Your Designs</a>
                                                    <a href="<%= base %>/my-designs" title="Saved Logos" style="font-size: 15px;color: #fff;text-decoration: none;padding: 0 28px;">View saved logos</a>
                                                    <a href="<%= base %>/design-business-card-online" title="Busness cards" style="font-size: 15px;color: #fff;text-decoration: none;padding: 0 28px;">Business Card</a>
                                                    <a href="<%= base %>/logo-design-online" title="Logo Maker" style="font-size: 15px;color: #fff;text-decoration: none;padding: 0 28px;">Logo Maker</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table><!-- /.Menu -->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="0" style="width:100%;"><!-- /Banner -->
                                    <tr>
                                        <td class="banner" style="background: url(cid:banner@logomaker.com) 0 0 no-repeat;position: relative;height: 338px;background-size:100%;"></td>
                                    </tr>
                                    <tr>
                                        <td><p style="text-align: center;background: #DF4F4F;margin: 0;padding: 10px 0;font-size: 16px;font-weight: 700;color: #454545;">INTRODUCING PRODUCTS WITH YOUR LOGO</p></td>
                                    </tr>
                                </table><!-- /Banner -->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table cellpadding="0" cellspacing="0" class="margin content" style="width: 100%;margin-top: 20px;padding:0 20px;"><!-- /Content -->
                                    <tr>
                                        <td>
                                            <p style="font-size: 14px;color: #454545;"><span id="name" style="display: block;margin-bottom: 10px;">Hi <%= name %>,</span><span class="greetings" style="font-size: 16px;font-weight: 600;display: block;margin-bottom: 10px;">Greetings from <a href="https://www.tagbit.co/" target="_blank" title="Online Free Logo" style="color: #0ed7d6;text-decoration: none;">www.tagbit.co</a></span></p>
                                            <p style="font-size: 14px;color: #454545;">Hope you and your business are doing great. We are pleased to announce that 
                                                we have launched few new products.</p>
                                        </td>
                                    </tr>
                                </table><!-- /.Content -->
                            </td>
                        </tr>
                        <tr>
                            <td><p class="custom-p" style="font-size: 14px;color: #454545;border: 3px solid #F4F4F4;text-align: center;padding: 15px 75px;margin: 5px 20px;">Customized <a href="<%= base %>/other/design-collar-t-shirts-online" style="color: #0ed7d6;text-decoration: none;font-weight: 500;">Round Neck T-shirts </a> </p></td>
                        </tr>
                        <tr>
                            <td><p class="custom-p" style="font-size: 14px;color: #454545;border: 3px solid #F4F4F4;text-align: center;padding: 15px 75px;margin: 5px 20px;">Customized <a href="<%= base %>/other/design-tshirts-online" style="color: #0ed7d6;text-decoration: none;font-weight: 500;">Embroidered Polo Neck T-shirts </a> </p></td>
                        </tr>
                        <tr>
                            <td><p class="custom-p" style="font-size: 14px;color: #454545;border: 3px solid #F4F4F4;text-align: center;padding: 15px 75px;margin: 5px 20px;">Customized <a href="<%= base %>/other/design-mug-online" style="color: #0ed7d6;text-decoration: none;font-weight: 500;">Mugs </a> </p></td>
                        </tr>
                        <tr>
                            <td class="text-center" style="text-align: center;position: relative;">
                                <table cellpadding="0" cellspacing="0" style="width: 100%;padding: 25px;margin: 15px 20px 0;background: #F7F7F7;">
                                    <tr>
                                        <td class="text-center" style="text-align: center;position: relative;"><img src="cid:tshirt@logomaker.com" alt="Special"></td>
                                        <td bgcolor="#ffffff">
                                            <table style="width:100%;">
                                                <tr><td>
                                                        <div style="background: #ffffff;">
                                                            <p style="padding: 10px 15px 10px 10px;text-align: left;font-style: italic;font-size: 14px;line-height: 34px;color: #454545;">To add more to your delight, on the onset of launch, we are also offering the discount of </p>
                                                            <p style="color:#E04E4F;font-weight:bold;font-size:46px;line-height:40px;margin: 40px 0 0;">40%</p>
                                                            <p class="flat-text" style="color: #010101;font-weight:500;font-size:18px;line-height:15px;font-style:italic;text-align: center;padding: 0 0px 25px 60px;">Flat</p>
                                                        </div>
                                                    </td></tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><p style="font-size: 20px;margin: 10px 0 0;font-weight: 600;padding-left: 50px;color: #454545;">So Hurry,</p></td>
                                    </tr> 
                                    <tr>
                                        <td colspan="2"><p style="color: #E04F54;font-weight: 700;font-size: 40px;margin: 0;padding-right: 60px;">BUY NOW!</p></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td><p style="text-align: center;padding: 14px 85px;font-size: 16px;font-style: italic;line-height: 25px;font-weight: 600;color: #454545;">So hurry, play and design <a href="<%= base %>/other/list/t-shirts" style="color: #00CCCB;text-decoration: none;font-weight: 500;">T-shirts</a> / <a href="<%= base %>/other/design-mug-online" style="color: #00CCCB;text-decoration: none;font-weight: 500;">Mugs</a> with company logo now!</p></td>
                        </tr>
                        <tr>
                            <td>
                                <ul style="color: #00CCCB;font-size: 14px;border: 3px solid #F4F4F4;padding: 20px 0;text-align: center;font-weight:700;margin: 15px 20px;">
                                    <li style="display:inline-block;">EASY TO DESIGN</li>
                                    <li style="display:inline-block;color:#7D7D7D;font-size:25px;line-height:20px;padding: 0 5px;">.</li>
                                    <li style="display:inline-block;">PREMIUM QUALITY</li>
                                    <li style="display:inline-block;color:#7D7D7D;font-size:25px;line-height:20px;padding: 0 5px;">.</li>
                                    <li style="display:inline-block;">COST EFFECTIVE</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><p class="footer-text" style="font-size: 12px;color: #1e1e1e;margin:10px 20px 25px;">If you have any queries or doubts, feel free to reach us at <a href="mailto:support@tagbit.co" style="color: #2ac1c0;padding: 10px 0;text-decoration: none;">support@tagbit.co</a>.<br>We will be delighted to assist you.</p></td>
                        </tr>
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="0" class="footer" style="width:100%;background: #f8f8f8; padding: 15px; text-align: center;"><!-- /Footer -->
                                    <tr>
                                        <td>
                                            <h4 style="font-size: 14px;color: #757575;">FOLLOW US ON</h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="social-media">
                                                <a href="https://www.facebook.com/tagbit?ref=tn_tnmn" target="_blank" class="fb" title="Facebook" style="display: inline-block;width: 42px;height: 42px;-webkit-transition: background .3s ease-in-out;-moz-transition: background .3s ease-in-out;-ms-transition: background .3s ease-in-out;-o-transition: background .3s ease-in-out;transition: background .3s ease-in-out;background: url(<%= base %>/img/email/footer_social_media.png) 0 0 no-repeat;"></a>
                                                <a href="https://twitter.com/FreeLogoOnline" target="_blank" class="twitter" title="Twitter" style="display: inline-block;width: 42px;height: 42px;-webkit-transition: background .3s ease-in-out;-moz-transition: background .3s ease-in-out;-ms-transition: background .3s ease-in-out;-o-transition: background .3s ease-in-out;transition: background .3s ease-in-out;background: url(<%= base %>/img/email/footer_social_media.png) -44px 0 no-repeat;"></a>
                                                <a href="https://plus.google.com/u/0/+tagbitmake-logo-online/about" target="_blank" class="gplus" title="Google +" style="display: inline-block;width: 42px;height: 42px;-webkit-transition: background .3s ease-in-out;-moz-transition: background .3s ease-in-out;-ms-transition: background .3s ease-in-out;-o-transition: background .3s ease-in-out;transition: background .3s ease-in-out;background: url(<%= base %>/img/email/footer_social_media.png) -89px 0 no-repeat;"></a>
                                                <a href="#" class="instagram" title="Instagram" style="display: inline-block;width: 42px;height: 42px;-webkit-transition: background .3s ease-in-out;-moz-transition: background .3s ease-in-out;-ms-transition: background .3s ease-in-out;-o-transition: background .3s ease-in-out;transition: background .3s ease-in-out;background: url(<%= base %>/img/email/footer_social_media.png) -134px 0 no-repeat;"></a>
                                            </div>
                                        </td>
                                    </tr>
                                </table><!-- /Footer -->
                            </td>
                        </tr>
                    </table><!-- /.Inner Wrapper -->
                </td>
            </tr>
        </table><!-- /.Wrapper -->
    </body>
</html>