<% include ../header.ejs %>
<tr>
    <td>
        <table width="100%" cellspacing="0" cellpadding="0"><!-- /Banner -->
            <tr>
                <td> 
                    <img style="width: 100%" src="cid:banner@logomaker.com" alt="banner" /> 
                </td>
            </tr>
        </table><!-- /Banner -->
    </td>
</tr>
<tr>
    <td>
        <table width="100%" cellpadding="0" cellspacing="0" style="margin-top:20px;"><!-- /Content -->
            <tr>
                <td>
                    <p><span style="display: block; margin-bottom: 10px;">Hi <%= name %>,</span>Greetings from <a style="color: #0ed7d6; text-decoration: none;" href="<%= base %>/" target="_blank" title="Online Free Logo">www.tagbit.co</a></p>
                    <p>Hope you and your business are doing great.

                        We are pleased to announce that we have launched few new products.  </p>
                    <ul>
                        <li>Customized <a href="<%= base %>/other/t-shirt">Round Neck T-shirts</a> Show Round neck t-shirt with your logo</li>
                        <li>Customized <a href="<%= base %>/other/design-tshirts-online">Embroidered Polo Neck T-shirts</a> Show Polo embroidered t-shirt with your logo</li>
                        <li>Customized <a href="<%= base %>/other/mug">Mugs</a> show mugs with your logo</li>
                    </ul>
                </td>
            </tr>
        </table><!-- /.Content -->
    </td>
</tr>
<tr>
    <td style="text-align:center;">
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <table width="100%" cellspacing="0" cellpadding="0" style="background: #dfdfdf; width:90%; padding:5px; margin-top:20px;"><!-- Special Offer -->
                        <tr>
                            <td style="border:2px dotted #cecece; position: relative;">
                                <p style="font-size: 14px; color:#454545;">To add more to your delight, on the onset of launch, we are also offering the discount of </p>
                                <h1 style="color:#00cccb; font-size:60px; font-weight: 800; margin: 0;">40%</h1>
                                <h2 style="color:#000; font-size:25px; font-weight: 700; margin:0;">FLAT</h2>
                                <h3 style="color:#555555; font-size:26px; font-weight: 800;">So Hurry, <a style="color:#00cccb; text-decoration: none;" href="<%= base %>/other/list" target="_blank" title="Buy Now">BUY NOW!</a></h3>
                            </td>
                        </tr>
                    </table><!-- Special Offer -->
                </td>
                <td style="text-align:center;"><img src="cid:discount@logomaker.com" alt="Special"></td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table width="100%" cellspacing="0" cellpadding="0" style="margin-top:20px;"><!-- /Bullet Content -->
            <tr>
                <td>
                    So hurry, play and design <a href="<%= base %>/other/list/t-shirts">T-shirts</a> / <a href="<%= base %>/other/mug">Mugs</a> with company logo now! <br /> <br />
                    <ul style="padding: 0; margin: 0;">
                        <li style="background: url(<%= base %>/img/email/bullet.jpg) 0 0 no-repeat; list-style: none; font-size: 14px; line-height: 22px; padding:1px 0 20px 45px; margin-left:0;">Easy to Design.</li>
                        <li style="background: url(<%= base %>/img/email/bullet.jpg) 0 0 no-repeat; list-style: none; font-size: 14px; line-height: 22px; padding:1px 0 20px 45px; margin-left:0;">Premium Quality.</li>
                        <li style="background: url(<%= base %>/img/email/bullet.jpg) 0 0 no-repeat; list-style: none; font-size: 14px; line-height: 22px; padding:1px 0 20px 45px; margin-left:0;">Cost Effective</li>
                    </ul>
                </td>
            </tr>
        </table><!-- /.Bullet Content -->
        <br/>
    </td>
</tr> 
<% include ../footer.ejs %>
